# Porta do servidor local
PORT=3000

# URL do frontend para configuração do CORS
FRONTEND_URL=http://localhost:5173

# Substitua pela Connection String fornecida pelo seu serviço de hospedagem de BD
DATABASE_URL=postgresql://user:password@localhost:5432/cashup

# SEGURANÇA (JWT) - Gere uma senha forte e única para produção
JWT_SECRET=sua_chave_secreta_aqui_muito_forte_e_segura

# APIS EXTERNAS
BRAPI_TOKEN=seu_token_brapi_aqui
